<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>eLedger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">eLedger</a>
    <a class="navbar-link btn-lg" href="{% url 'index' %}" style="background-color:#FFCC33;color:#000000;">Home</a>
    <a href="{% url 'admin:index' %}" class = 'navbar-link btn-lg' style="background-color:#FFCC33;color:#000000;">Admin</a>
    <a href="{% url 'create-farmer' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Create Farmer</a>
    <a href="{% url 'create-company' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Create Company</a>
</nav>
<br>
{% block content %}
{% endblock %}
</body>
</html>