{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}
    Farmers and Companies
{% endblock %}

{% block content %}

<div class="card-columns">
    {% for farmer in actors.farmers %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ farmer.id }}. {{ farmer.name }}</h5>
            <p class="card-text">{{ farmer.location }}</p>
            <div class="card-footer bg-transparent border-dark">
                <p class="card-title">{{farmer.email}}</p>
                <center>
                    <a href="update/{{farmer.id}}" class="btn btn-warning" id='{{farmer.id}}'>edit</a>
                    <a href="delete/{{farmer.id}}" class="btn btn-danger" id='{{farmer.id}}'>delete</a>
                </center>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card-columns">
    {% for company in actors.companies %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ company.id }}. {{ company.name }}</h5>
            <p class="card-text">{{ company.location }}</p>
            <div class="card-footer bg-transparent border-dark">
                <p class="card-title">{{company.email}}</p>
                <center>
                    <a href="update/{{company.id}}" class="btn btn-warning" id='{{company.id}}'>edit</a>
                    <a href="delete/{{company.id}}" class="btn btn-danger" id='{{company.id}}'>delete</a>
                </center>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}